<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>INVALID-INVALID.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433118003234-INVALID</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>433118003234-INVALID.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>BLABLABLABLABLABLA</string>
	<key>GCM_SENDER_ID</key>
	<string>333333333333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ml.mobile.camera.template</string>
	<key>PROJECT_ID</key>
	<string>ml-mobile-template</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:433118003101:ios:cf266922333333333333</string>
</dict>
</plist>
